<div id="<%= dom_id order %>">
  <p>
    <strong>Total cost:</strong>
    <%= order.total_cost %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Order date:</strong>
    <%= order.order_date %>
  </p>

  <p>
    <strong>Ship date:</strong>
    <%= order.ship_date %>
  </p>

  <p>
    <strong>Deliver date:</strong>
    <%= order.deliver_date %>
  </p>

</div>
