<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceSite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_pack_tag 'hello_react' %>
    <%= image_pack_tag 'assets/images/jewelery.jpg' %>
    <%= image_pack_tag 'assets/images/electronics.jpg' %>
    <%= image_pack_tag 'assets/images/men\'s clothing.jpg' %>
    <%= image_pack_tag 'assets/images/women\'s clothing.jpg' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
